@import '../../style/variables.scss';

.header-menu {
    display: flex;
    align-items: baseline;
    padding-top: 30px;
    position: absolute;
    li {
        padding: 0 29px 0 0;

        a {
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
            color: $main-color-light;
        }

        a:hover {
            color: rgba(255, 255, 255, 0.768);
            text-shadow: 0px 3px 3px rgba(132, 36, 1, 0.809);
            transition: color 0.3s ease-in-out;
        }
    }
}